@import "@sass/vars";

.userCard {
  background-color: $white;
  padding: 45px 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
}

.description {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.pieChartLoader {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.chart {
  padding: 30px 10px;
  border: 1px solid $border-section;
  overflow: hidden;
}

.reposAmount {
  padding: 20px 0;
}
