@import "@sass/mixins";
@import "@sass/vars";

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $home-background;

  @include mobile {
    padding: 0px 20px;
  }
}
