@import "@sass/vars";

.inputTextWrapper {
  gap: 20px;
  max-width: 450px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: $white;
}

.inputTextError {
  display: flex;
  justify-content: center;
}
